html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.no-seleccionable {
    -webkit-user-select: none; /* Safari y navegadores basados en WebKit */
    -moz-user-select: none;    /* Firefox antiguos */
    -ms-user-select: none;     /* Internet Explorer / Edge antiguos */
    user-select: none;         /* Estándar moderno (Chrome, Edge, Firefox, Opera) */
}
img{
    -webkit-user-select: none;
    user-select: none;
}
.interfaz{
    background-color: rgba(255, 255, 255, 0.075);
    color: white;
    text-align: center;
    height: 60%;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 5%;
    width: 50%;
}
.perfil{
    width: 20vh;
    height: 19vh;
    
}
.titulo{
    color: white;
    font-size: 8vh;
    transition: transform 0.2s ease;
}
.titulo:hover{
    transform: scale(1.1);
}
.links{
    height: 30vh;
    align-items: center;
    text-align: center;
}
.botones{
    padding-left: 2%;
    opacity: 0.7;
    transition: transform 0.2s ease;
    width: 7vh;
}
.botones:hover{
    opacity: 1;
    transform: scale(1.1);
}
@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
        box-shadow: 0 0 20px 5px rgba(0, 150, 255, 0.8);
    }
    50% {
        opacity: 0.3;
        box-shadow: 0 0 5px 1px rgba(0, 150, 255, 0.4);
    }
}
@media (max-width: 667px) {
    body {
        overflow: hidden;
        overscroll-behavior: none;
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .interfaz{
        width: 50vh;
    }
    .titulo {
        font-size: 2.5rem;
    }
    
    .perfil {
        margin-top: 8vh;
        width: 15vh;
        height: 14vh;
    }
    
    .botones {
        width: 15%; /* más grande en móvil para que sea fácil tocar con el dedo */
    }
}